name: 'GitHub Actions CloudFlare2DNSPod Bot'

on:
  push:
    branches: 
      - master
 #去除注释才可以按计划自动执行    
 # schedule:
 #   - cron: '*/16 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
      - name: 'Set up Python'
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: 'Install dependencies'
        run: if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: 'run cf2dns'
        env:
          CONFIG: ${{ secrets.CONFIG }}
          DOMAINS: ${{ secrets.DOMAINS }}
          PROVIDER: ${{ secrets.PROVIDER }}
        run: python cf2dns_actions.py
